.date {
  font-size: 0.875rem;
  color: $gray-900;
}

.date-title {
  font-size: 0.875rem;
  color: $gray-800;
  &.current-date {
    color: $gray-900;
  }
}
div.react-datepicker__day--keyboard-selected {
  background: $primary;
}
